
body {
    background-image: url(https://img.freepik.com/foto-gratis/conos-helado-vacios_23-2148177297.jpg?);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
 }

nav  {    
    background: rgb(112, 120, 238);
    display: flex;
    justify-content: right;      
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
}

nav a {
    color: rgb(241, 241, 44);
    padding: 12px;
    display: block;
}


.logo {
    
    padding: 6px; 
    font-style: italic;
    color: rgb(112, 120, 238);
    margin: 5cm;
}

.helados {
    
    padding: 6px; 
    font-style: italic;
    color: rgb(112, 120, 238);
    margin: 5cm;
}
.cafe {
    
    padding: 6px; 
    font-style: italic;
    color: rgb(112, 120, 238);
    margin: 5cm;
}

.descripcion {
    
    padding: 5px; 
    font-style: italic;
    color: rgb(148, 32, 165);
    margin: 5cm;

}.misión {
    
    padding: 5px; 
    font-style: italic;
    color: rgb(148, 32, 165);
    margin: 5cm;
}

.visión {
    
    padding: 5px; 
    font-style: italic;
    color: rgb(148, 32, 165);
    margin: 5cm;
}

.div-img {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1cm;
    justify-content: center;
}

 

footer {    
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: right;  
    
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
footer li {
    margin: 0;
}
footer a {
    color: rgb(146, 138, 27);
    padding: 12px;
    display: block;
}

.ubicacion {
    
    padding: 8px; 
    font-style: italic;
    color: rgb(112, 120, 238);
    margin: 6cm;
    text-align: center;
}
.mapa {
    
    padding: 10px; 
    
    
    
}
.redes {
    margin: 0;
    padding: 0;
  
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.buttons {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 30px;
    width: 60px;
    height: 60px;
    list-style: none; 
    line-height: 60px;
    text-align: center;
    color: #FFD700;
    background-color: black ;
    border-radius: 50%;
    box-shadow: 2 px 2px 5px #808080(0, 0, 0, .5) ;
    transition: all .4s ea;
}